<% if @text_messages.present? %>
  <div class='text-messages'>
    <% @text_messages.each do |message| %>
      <%= tag.div class: (message.inbound? ? 'inbound' : 'outbound') do %>
        <%= tag.span message.message %>
      <% end %>
    <% end %>
  </div>
<% end %>

