<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>

<hr>

<div id='messages'></div>

<%= form_for @text_message, url: phone_messages_path(@phone, @text_message), remote: true, authenticity_token: true, html: {class: 'form-inline'} do |f| %>
  <div class="input-group">
    <div class='input-wrapper'>
      <%= f.text_field :message, placeholder: "Text Message", class:  "form-control mb-2 mr-sm-2" %>
    </div>
    <div class="input-group-append">
      <%= f.submit 'Send', class: "btn btn-primary mb-2" %>
    </div>
  </div>
<% end %>

<% content_for :javascript_onload do %>
  Messages.init('<%= phone_messages_path(@phone.id) %>');
<% end %>

