<% javascript_onload = yield(:javascript_onload) %>
<% unless javascript_onload.blank? %>
  <%= javascript_tag do %>
    document.addEventListener("DOMContentLoaded", function(){
      <%= javascript_onload.split('\n').join('\n  ').gsub("&quot;", "'").html_safe %>
    });
  <% end %>
<% end %>

