// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.text-messages{
  div{
    margin: 8px auto;
    span{
      border-radius: 8px;
      padding: 4px 6px;
    }

    &.inbound{
      span{
        background: #cacaca;
        color: black;
      }
    }
    &.outbound{
      text-align: right;
      span{
        background: blue;
        color: white;
      }
    }
  }
}

