// Place all the styles related to the Phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form#new_text_message{
  margin-top: 16px;
  .input-wrapper{
    display: flex;
    flex-grow: 1;
  }
  input[type='submit']{
    background: blue;
  }
}

